.features-icons {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

#newIcons {
  width: 3rem;
}
#downloadLink {
  color: white;
  font-weight: bold;
}
#downloadBox {
  background-color: $teal;
}
#whiteText {
  color: white;
}
#dataSheetBox {
  background-color: $teal;
}
.bg-teal {
  background-color: $teal;
}
