.features-icons {
  padding-top: 3rem;
  padding-bottom: 0rem;
}

#newIcons {
  width: 3rem;
}
#downloadLink {
  color: white;
  font-weight: bold;
}
#downloadBox {
  background-color: $teal;
}
#whiteText {
  color: white;
}
#dataSheetBox {
  background-color: $teal;
}
.bg-teal {
  background-color: $teal;
}
#guideButton {
  background-color: white;
  font-weight: bold;
  color: $teal;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  font-family: inherit;
  font-size: 1.2rem;
  box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  &:hover {
    box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -10px);
  }
}

#licenseIcon {
  width: 6rem;
  margin-bottom: 0.7rem;
}
