.showcase {
  .showcase-text {
    padding: 3rem;
  }

  .showcase-img {
    min-height: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (min-width: 768px) {
    .showcase-img {
      min-height: 20rem;
    }
    .showcase-text {
      padding: 4rem 6rem;
    }
  }
}
#introductionText {
  font-size: 1.5rem;
}
#logoBetaBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logoBeta {
  width: 80%;
}

#video {
  padding: 1rem;
}
#greenText {
  color: $teal;
}
